 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">




<div class="text-center">
<form action="/answer" method="get"><br><br><br>
  <label for="question">Speak to your coach</label><br><br>
  <input type="text" id="question" name="query" placeholder="what time is it?"><br><br>
  <button type="submit" class="btn btn-primary">Go on</button>
</form>
</div>
